*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: black;
    font-weight: 500;
}

header{
	width: 100%;
	height: 100vh;
    background-image: url("../img/background/b-tourist.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}


.menu-toggle {
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}


.overlay {
	background-color: rgba(0,0,0,.2);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

a:hover{
    color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

.deskripsi p{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn 1s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: black;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}


section h2 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

section h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 120px;
    height: 4px;
    background-color: crimson;
    left: calc(50% - 60px);
}

h1{
	color: #fff;
}

p{
    color: black;
}

#section-maps{
	background: #222;
    color: #fff;
}

#section-tourist{
	background-color: #fff;
    color: #000;
}

#text-3 span {
    color: crimson;
    font-weight: 500;
	font-size: 35px;
}
 
.scrollToTopBtn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 100;
	display: none;
	padding: 8px 4px;
	cursor: pointer;
  }

  
@media screen and (max-width:680px) {

	.menu-toggle {
		display: block;
	}

	nav {
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li {
		margin-top: 5rem;
	}

	nav ul li a {
		margin: 0;
		font-size: 2.5rem;
	}

	.overlay.menu-open,
	nav.menu-open {
		display: flex;
		transform: scale(1);
		opacity: 1;
	}

}